<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            /* width: 100px; */
            height: 100px;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/data/">Data</a>
        <a href="/page/">Page</a>   

    </nav>


</body>

</html>